* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

.ProductFrom {
  width: 10%;
  height: 100vh;
  padding: 50px 0px 0px 0px;
  border-right: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: start;
}

.Navbar {
  width: 100%;
  height: 10vh;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Result {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__cards {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  gap: 30px;
}

.product__card {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.product__infos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  width: 90%;
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

.ProductCard {
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.product__button-delete {
  border-radius: 5px;
  border: 2px solid red;
  color: red;
  padding: 5px;
}
